
# subshell method vs single shell method
# http://docstore.mik.ua/orelly/networking_2ndEd/ssh/ch06_03.htm#ch06-20004.html

SSH_ENV="$HOME/.ssh/environment"

function start_agent {
	echo "Initialising new SSH agent..."
	/usr/bin/ssh-agent | sed 's/^echo/#echo/' > "${SSH_ENV}"
	echo succeeded
	chmod 600 "${SSH_ENV}"
	. "${SSH_ENV}" > /dev/null
	/usr/bin/ssh-add;

	/usr/bin/ssh-add ~/.ssh/current
{% for path in sshkey_files %}
	ssh-add {{ path.destination }}
{% endfor %}
{% for path in sshkey_credstash_keys %}
	ssh-add {{ path.destination }}
{% endfor %}


}

# Source SSH settings, if applicable

if [ -f "${SSH_ENV}" ]; then
	. "${SSH_ENV}" > /dev/null
	#ps ${SSH_AGENT_PID} doesn't work under cywgin
	ps -ef | grep ${SSH_AGENT_PID} | grep ssh-agent$ > /dev/null || {
	    start_agent;
	}
else
    start_agent;
fi

# causes these to get run on logout in borne type shells
trap '
  test -n "$SSH_AGENT_PID"  && eval `ssh-agent -k` ;
  test -n "$SSH2_AGENT_PID" && kill $SSH2_AGENT_PID
' 0



